* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1rem;
}
header .heardTitle {
  font-size: 2.5rem;
}
header .heardText {
  font-size: 1rem;
}

nav {
  background-color: #7a7a7a;
}
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
}
nav ul li {
  display: flex;
  padding: 0.1rem 0.5rem;
}
nav ul li a {
  padding: 0.5rem 0.5rem;
  color: rgb(184, 179, 179);
  text-decoration: none;
  font-size: 1.05rem;
  transition: all 0.25s ease;
}
nav ul li a:hover {
  color: white;
}
nav ul li .active {
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main p {
  display: flex;
}
main section {
  padding: 1.5rem;
}
main section.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
}
main section.right h4 {
  font-size: 1.25rem;
  text-align: center;
}
main section.right p {
  margin: 1rem;
}
main section.left {
  flex: 4 1 550px;
}
main section.farming h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
}
main section.farming h2 {
  display: flex;
  justify-content: center;
}
main section.farming hr {
  border: 2px solid rgb(0, 0, 0);
}
main section.farming p {
  padding: 1rem 0 1.5rem 0;
}
main section.farming ol {
  padding: 0 0 2rem 1.2rem;
}
main section.farming ol li {
  padding: 0.2rem 0;
}
main section.farming .textRed {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 1.5rem;
}
main section.industrial h2 {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  font-size: 2.5rem;
}
main section.industrial div.boxIndustrial {
  height: 50vh;
  display: flex;
}
main section.industrial div.boxIndustrial div {
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 50%;
  display: flex;
  padding: 0.5rem 0rem;
}
main section.industrial div.boxIndustrial div h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}
main section.industrial div.boxIndustrial div p {
  text-align: left;
  padding: 0.5rem 0.25rem;
}
main section.economyPicture {
  width: 100%;
}
main section.economyPicture h2 {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  font-size: 2.5rem;
}
main section.economyPicture hr {
  border: 2px solid rgb(0, 0, 0);
}
main section.economyPicture div {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
  flex-wrap: wrap;
}
main section.economyPicture div p {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section.economyPicture div p img {
  padding: 1rem 1.15rem;
  transition: 0.2s;
}
main section.economyPicture div p img:hover {
  transform: scale(1.2);
}
main section.economyPicture ul {
  display: flex;
}
main section.economyPicture ul li {
  list-style-type: none;
  padding: 0.5rem 2rem;
}
main section.economyPicture ul li a {
  color: cornflowerblue;
  font-weight: bolder;
  text-decoration: none;
}
main section.author {
  display: flex;
}
main section.author div.authorRight {
  width: 15%;
}
main section.author div.authorRight img {
  width: 10vw;
  height: 28vh;
  border-radius: 50%;
  padding: 1rem 0.15rem;
  transition: 0.2s;
}
main section.author div.authorRight img:hover {
  transform: scale(1.2);
}
main section.author div.authorLeft {
  width: 85%;
}
main section.author div.authorLeft h2 {
  padding: 0.5rem 0rem;
}
main section.author div.authorLeft p {
  padding: 0.5rem 0rem;
}
main section.author div.authorLeft h3 {
  padding: 0.5rem 0rem;
}
main section.author div.authorLeft ul {
  padding: 0.5rem 1.5rem;
}

#curve_chart {
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 800px) {
  main section.economyPicture div.imgPicture {
    padding: 0.5rem;
  }
  main section.economyPicture div.imgPicture img.pocture1 {
    padding: 0;
  }
  nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  main section.industrial div.boxIndustrial {
    display: inline;
  }
  main section.economyPicture div.imgPicture img.pocture1 {
    width: 10vw;
    height: 10vh;
  }
  main section.economyPicture div.imgPicture p {
    font-size: 0.5rem;
    font-weight: normal;
  }
  main section.author {
    flex-direction: column;
    align-items: center;
  }
  main section.author div.authorRight {
    width: 50%;
  }
  main section.author div.authorRight img {
    justify-content: center;
    padding: 0 1.5rem;
    width: 10rem;
    height: 8rem;
  }
}/*# sourceMappingURL=styles.css.map */